<!-- Modal de editar proveedor -->
<div class="modal fade" id="updateSupplier" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Editar proveedor nuevamente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label>Nombre</label>
                        <input type="text" class="form-control"  placeholder="Isaac Suku" value=""
                               required="">
                    </div>
                    <div class="col-md-5 mb-3">
                        <label>RFC</label>
                        <input type="text" class="form-control"  placeholder="GABI020310CL2" value=""
                               required="">
                    </div>
                    <div class="col-md-3 mb-3">
                        <label>Razon social</label>
                        <input type="text" class="form-control"  placeholder="Agricultura" value=""
                               required="">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>Telefono</label>
                        <input type="tel" class="form-control" placeholder="7774900025" value=""
                               required="">
                    </div>
                    <div class="col-md-5 mb-3">
                        <label>Correo Electronico</label>
                        <input type="email" class="form-control" placeholder="suku@gmail.com" value=""
                               required="">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Actualizar</button>
            </div>
        </div>
    </div>
</div>