<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
    <link th:insert="fragments/header :: css">
    <link th:insert="fragments/header :: cssAdmin">
    <link th:insert="fragments/header :: fontawesome">
    <link th:insert="fragments/header :: fontawesome2">
</head>

<body class="hold-transition sidebar-mini layout-fixed" onload="onLoad()">
<div th:insert="fragments/header :: js"></div>
<div class="wrapper">
    <div th:insert="fragments/navbar :: navbar"></div>
    <div th:insert="fragments/sidebar :: sidebar"></div>
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="content-header"> <!--AQUÍ ISAAC METIÓ UN SECTION, EN VEZ DE UN DIV-->
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Gestión de productos</h1>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
            <div th:if="${resultAction != null ? (resultAction.message.name eq 'SUCCESS_REGISTER') || (resultAction.message.name eq 'SUCCESS_UPDATE') || (resultAction.message.name eq 'SUCCESS_DISABLE') || (resultAction.message.name eq 'SUCCESS_ENABLE'): false}" class="alert alert-success alert-dismissible fade show" role="alert">
                [[${resultAction.message.message}]]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <section class="content">
                <div class="card">
                    <div class="card-header back-green" type="button" data-card-widget="collapse" title="Collapse" aria-expanded="false">
                        <h3 class="card-title font-white">Registrar producto</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-plus font-white"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body"  th:class="${(result.isError && action eq 'save') ? 'card-body': 'card-body collapse'}">
                        <form th:action="@{/product/save}" method="post" th:object="${product}">
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label>Nombre</label><span class="text-danger">*</span>
                                    <input type="text" class="form-control" name="name" placeholder="Hojas de color" th:value="${data != null && action eq 'save' ? data.name : ''}">
                                    <div th:if="${#fields.hasErrors('name') && action eq 'save'}" th:errors="*{name}"
                                         class="alert alert-danger"></div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label>Descripción</label><span class="text-danger">*</span>
                                    <input type="text" class="form-control" placeholder="Nuevas" name="description" th:value="${data != null && action eq 'save' ? data.description : ''}">
                                    <div th:if="${#fields.hasErrors('description') && action eq 'save'}" th:errors="*{description}"
                                         class="alert alert-danger"></div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label>Unidad de medida<span class="text-danger">*</span></label>
                                    <select class="custom-select d-block w-100" name="unit" th:value="${data != null && action eq 'save' ? data.unit : ''}">
                                        <option th:value="Piezas">Piezas</option>
                                        <option th:value="Cajas">Cajas</option>
                                        <option th:value="Unidades">Unidades</option>
                                        <option th:value="Toneladas">Toneladas</option>
                                        <option th:value="Kilos">Kilos</option>
                                        <option th:value="Gramos">Gramos</option>
                                        <option th:value="Litros">Litros</option>
                                        <option th:value="Metros">Metros</option>
                                        <option th:value="Centímetros">Centímetros</option>
                                    </select>
                                    <div th:if="${#fields.hasErrors('unit') && action eq 'save'}" th:errors="*{unit}"
                                         class="alert alert-danger"></div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label>Precio Unitario</label><span class="text-danger">*</span>
                                    <input type="decimal" class="form-control" placeholder="1.50" name="unitPrice" th:value="${data != null && action eq 'save' ? data.unitPrice : ''}">
                                    <div th:if="${#fields.hasErrors('unitPrice') && action eq 'save'}" th:errors="*{unitPrice}"
                                         class="alert alert-danger"></div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label>Tipo<span class="text-danger">*</span></label>
                                    <select class="custom-select d-block w-100" name="type" id="type" onchange="showFields()"  th:value="${data != null && action eq 'save' ? data.type : ''}">
                                        <option th:value="1">Perecederos</option>
                                        <option th:value="2">No perecederos</option>
                                    </select>
                                    <div th:if="${#fields.hasErrors('type') && action eq 'save'}" th:errors="*{type}"
                                         class="alert alert-danger"></div>
                                </div>
                                <div class="col-md-4 mb-3" id="divExC">
                                    <label>Fecha de expiración</label><span class="text-danger">*</span>
                                    <input type="date" id="expC" class="form-control" name="expirationDate" th:value="${data != null && action eq 'save' ? data.expirationDate : ''}">
                                    <div th:if="${#fields.hasErrors('expirationDate') && action eq 'save'}" th:errors="*{expirationDate}"
                                         class="alert alert-danger"></div>
                                </div>
                                <div class="col-md-4 mb-3" id="divSerialC" style="display: none">
                                    <label>Número de serie</label><span class="text-danger">*</span>
                                    <input type="text" id="serialC" name="serialNumber" class="form-control" th:value="${data != null && action eq 'save' ? data.serialNumber : ''}">
                                    <div th:if="${#fields.hasErrors('serialNumber') && action eq 'save'}" th:errors="*{serialNumber}"
                                         class="alert alert-danger"></div>
                                </div>
                                <br>
                                <button type="submit" class="btn btn-primary btn-block btn-lg" >
                                    Registrar
                                </button>

                            </div>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header back-green" >
                        <h3 class="card-title font-white">Productos</h3>
                    </div>
                    <div class="card-body">
                        <div class="row mb-3 mt-2">
                            <p class="mr-2">Mostrar</p>
                            <form th:action="@{/product/list}" id="searchForm">
                                <select th:value="${pageSize}" name="size" class="custom-select"
                                        onchange="changePageSize()">
                                    <option th:each="s : ${ {5, 10, 20, 50, 100} }" th:value="${s}" th:text="${s}"
                                            th:selected="${s == pageSize}"></option>
                                </select>
                            </form>
                            <p class="ml-2">registros</p>
                        </div>
                        <div class="row mb-3 mt-2">
                            <div class="container-fluid">
                                <table class="table table-responsive projects margin-table-order table-striped projects">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="width: 1%">#</th>
                                        <th style="width: 20%">Nombre</th>
                                        <th style="width: 20%">Descripcion</th>
                                        <th style="width: 20%">Unidad de medida</th>
                                        <th style="width: 20%">Precio unitario</th>
                                        <th style="width: 20%">Estado</th>
                                        <th style="width: 8%" class="text-center">Modificar</th>
                                        <th style="width: 8%" class="text-center">Detalles</th>
                                        <th style="width: 8%" class="text-center">Estado</th>
                                    </tr>
                                    </thead>
                                    <tbody class="text-center">
                                    <tr th:each="product : ${result.data}" th:if="${result.data != null}">
                                        <td>[[${product.id}]]</td>
                                        <td>[[${product.name}]]</td>
                                        <td>[[${product.description}]]</td>
                                        <td>[[${product.unit}]]</td>
                                        <td>[[${product.unitPrice}]]</td>
                                        <td><p th:class="${product.status == 1 ? 'text-success' : 'text-danger'}">[[${product.status == 1 ? 'Activo' : 'Inactivo'}]]</p></td>
                                        <td>
                                            <button th:attr="onclick=|getProduct('${product.id}')|" id="updateBtnProduct" type="button" class="btn btn-warning" data-toggle="modal"
                                                    data-target="#updateProduct">
                                                <i class="nav-icon fas fa-edit"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-primary" th:attr="onclick=|getProductSh('${product.id}')|" data-toggle="modal"
                                                    data-target="#showProduct">
                                                <i class="nav-icon fas fa-info info-button"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <form th:if="${product.status == 1}" th:action="@{/product/disable}"
                                                  method="post">
                                                <input th:value="${product.id}" name="id" type="hidden">
                                                <button type="button" class="btn btn-danger deleteBtnProduct">
                                                    <i class="nav-icon fa-solid fa-eye-slash"></i>
                                                </button>
                                            </form>
                                            <form th:if="${product.status == 0}" th:action="@{/product/disable}"
                                                  method="post">
                                                <input th:value="${product.id}" name="id" type="hidden">
                                                <button type="button" class="btn btn-success deleteBtnProduct">
                                                    <i class="nav-icon fa-solid fa-eye"></i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div th:if="${result.message.name eq 'NO_RECORDS_FOUND'}" class="alert alert-warning alert-dismissible fade show  text-center" role="alert">
                                    [[${result.message.message}]]
                                </div>
                            </div>
                        </div>
                        <nav class="mt-3" th:if="${result.data != null ? result.data.totalPages > 0 : false}"
                             aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item" th:classappend="${result.data.number == 0 ? 'disabled' : ''}">
                                    <a th:href="@{/product/list(page=${result.data.number - 1}, size=${pageSize})}"
                                       class="page-link">Anterior</a>
                                </li>
                                <li class="page-item" th:classappend="${i eq result.data.number + 1} ? 'active'"
                                    th:each="i : ${#numbers.sequence( 1, (result.data != null ? result.data.totalPages : 0) , 1)}">
                                    <a class="page-link"
                                       th:href="@{/product/list?page={tmpPag} (tmpPag=${i-1}, size=${pageSize}) }"
                                       th:text="${i}"
                                       th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                                </li>
                                <li class="page-item"
                                    th:classappend="${result.data.number == ((result.data != null ? result.data.totalPages : 0) - 1) ? 'disabled' : ''}">
                                    <a th:href="@{/product/list(page=${result.data.number + 1}, size=${pageSize})}"
                                       class="page-link">Siguiente</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div th:replace="product/showProduct"></div>
    <div th:replace="product/updateProduct"></div>
</div>
<script th:if="${result.isError && action eq 'update'}">

    $('#updateProduct').modal('show');

</script>
<script>

    $('.deleteBtnProduct').on('click', function () {
        Swal.fire({
            title: '¿Está seguro de cambiar el estado de este producto?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sí',
            cancelButtonText: 'Cancelar',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                $(this).closest('form').submit();
            }
        });
    });

    const getProduct = (id) => {
        $.get("/product/" + id, function (data) {
            let date = new Date().toJSON().slice(0, 10).replace(/-/g, '-');
            $("#updateProduct").find("#name").val(data.data.name);
            $("#updateProduct").find("#description").val(data.data.description);
            $("#updateProduct").find("#unit").val(data.data.unit);
            $("#updateProduct").find("#unitPrice").val(data.data.unitPrice);
            $("#updateProduct").find("#typeUpdate").val(data.data.type);
            if(data.data.type == 2) {
                $("#updateProduct").find("#divEx").css("display", "none");
                $("#updateProduct").find("#expirationDate").val(date);
                $("#updateProduct").find("#serialNumber").val(data.data.serialNumber);
                $("#updateProduct").find("#divSerial").css("display", "block");
            } else {
                $("#updateProduct").find("#divEx").css("display", "inline-table");
                $("#updateProduct").find("#expirationDate").val(data.data.expirationDate);
                $("#updateProduct").find("#serialNumber").val("");
                $("#updateProduct").find("#divSerial").css("display", "none");
            }

            $("#updateProduct").find("#id").val(data.data.id);


            $("#namediv").css("display", "none");
            $("#descriptiondiv").css("display", "none");
            $("#unitdiv").css("display", "none");
            $("#unitPricediv").css("display", "none");
            $("#expirationDatediv").css("display", "none");
            $("#serialNumberdiv").css("display", "none");
        });
    }

    const getProductSh = (id) => {
        $.get("/product/" + id, function (data) {
            $("#showProduct").find("#nameSh").val(data.data.name);
            $("#showProduct").find("#descriptionSh").val(data.data.description);
            $("#showProduct").find("#unitSh").val(data.data.unit);
            $("#showProduct").find("#unitPriceSh").val(data.data.unitPrice);
            if(data.data.expirationDate == null) {
                $("#showProduct").find("#divExSh").css("display", "none");
                $("#showProduct").find("#expirationDateSh").val("");
                $("#showProduct").find("#serialNumberSh").val(data.data.serialNumber);
                $("#showProduct").find("#divSerialSh").css("display", "block");
            } else {
                $("#showProduct").find("#divExSh").css("display", "inline-table");
                $("#showProduct").find("#expirationDateSh").val(data.data.expirationDate);
                $("#showProduct").find("#serialNumberSh").val("");
                $("#showProduct").find("#divSerialSh").css("display", "none");
            }

        });
    }

    $('.updateBtnArea').on('click', function () {
        Swal.fire({
            title: '¿Está seguro de modificar los datos?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sí',
            cancelButtonText: 'Cancelar',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                $(this).closest('form').submit();

            }
        });
    });
    const showFields = ()=>{
        let type = $("#type").val();
        if (type == 2) {
            $("#divSerialC").css("display", "block");
            $("#divExC").css("display", "none");
        } else {
            $("#divSerialC").css("display", "none");
            $("#divExC").css("display", "inline-table");
            $("#serialC").val("");
        }
    }
    const changePageSize = () => {
        $("#searchForm").submit();
    }

    const onLoad = ()=>{
        let date = new Date().toJSON().slice(0, 10).replace(/-/g, '-');

        let typeUpdate = $("#typeUpdate").val();
        let type = "[[${product.type}]]";
        console.log(type)
        if (type == 2) {
            $("#divSerialC").css("display", "block");
            $("#divExC").css("display", "none");
            $("#expC").val(date);
            $("#type").val(2);
        } else {
            $("#divSerialC").css("display", "none");
            $("#divExC").css("display", "inline-table");
            $("#serialC").val("");
            $("#type").val(1);
            $("#expC").val(date);
        }

        if (typeUpdate == 2) {
            $("#divSerial").css("display", "block");
            $("#divEx").css("display", "none");
            $("#exp").val(date);
            $("#type").val(2);
        } else {
            $("#divSerial").css("display", "none");
            $("#divEx").css("display", "inline-table");
            $("#serial").val("");
            $("#type").val(1);
            $("#expC").val(date);
        }


    }
</script>
</body>
</html>