<!-- Modal -->
<div class="modal fade" id="showBtnResponsables" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Responsables de almacén</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" name="id" id="id">

                    <div class="row mt-2 mb-3">

                        <div class="col-md-6 mb-3">
                            <label>Almacenista<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="warehouse" readonly>

                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Facturación<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="invoice" readonly>
                        </div>
                    </div>
                    <div style="float: right">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>