<!-- Modal -->
<div class="modal fade" id="updateWarehouse" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modificar almacén</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/warehouse/update}" th:object="${warehouse}" method="post">
                    <input type="hidden" name="id" id="id" th:value="${data != null ? data.id : ''}">

                    <div class="row mt-2 mb-3">
                        <div class="col-md-6 mb-3">
                            <label class="font-weight-normal">Nombre<span class="text-danger">*</span></label>
                            <input name="name" id="name" th:value="${data != null && action eq 'update' ? data.name : ''}" type="text" min="3" class="form-control" placeholder="Ingrese un nombre" required>
                            <div id="namediv" th:if="${#fields.hasErrors('name') && action eq 'update'}" th:errors="*{name}" class="alert alert-danger"></div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="font-weight-normal">Identificador<span class="text-danger">*</span></label>
                            <input name="identifier"  id="identifier" th:value="${data != null && action eq 'update' ? data.identifier : ''}"  type="text" min="3"  class="form-control" placeholder="Ingrese un identificador" required>
                            <div id="identifierdiv" th:if="${#fields.hasErrors('identifier') && action eq 'update'}" th:errors="*{identifier}" class="alert alert-danger"></div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label class="font-weight-normal">Dirección<span class="text-danger">*</span></label>
                            <input name="address" id="address"  th:value="${data != null && action eq 'update' ? data.address : ''}" type="text" class="form-control" placeholder="Ingrese una dirección">
                            <div id="addressdiv" th:if="${#fields.hasErrors('address') && action eq 'update'}" th:errors="*{address}" class="alert alert-danger"></div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Almacenista<span class="text-danger">*</span></label>
                            <select name="warehouser" id="warehouse" th:value="${data != null && action eq 'update' ? data.warehouser.id : ''}" class="custom-select d-block w-100"  >
                                <option th:each="tmpWarehouse: ${listWarehousers}" th:value="${tmpWarehouse.id}" th:text="${tmpWarehouse.name + ' ' + tmpWarehouse.surname}" >Selecciona un almacenista</option>
                            </select>
                            <div id="warehousediv" th:if="${#fields.hasErrors('warehouser') && action eq 'update'}" th:errors="*{warehouser}" class="alert alert-danger"></div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Facturación<span class="text-danger">*</span></label>
                            <select name="invoicer" id="invoice" th:value="${data != null && action eq 'update' ? data.invoicer.id : ''}" class="custom-select d-block w-100"  >
                                <option th:each="tmpWarehouse: ${listInvoicers}"  th:value="${tmpWarehouse.id}" th:text="${tmpWarehouse.name + ' ' + tmpWarehouse.surname}" >Selecciona un almacenista</option>
                            </select>
                            <div id="invoicediv" th:if="${#fields.hasErrors('invoicer') && action eq 'update'}" th:errors="*{invoicer}" class="alert alert-danger"></div>
                        </div>
                    </div>
                    <div style="float: right">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary updateBtnWarehouse">Modificar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>