<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pedidos</title>
    <link th:insert="fragments/header :: css">
    <link th:insert="fragments/header :: cssAdmin">
    <link th:insert="fragments/header :: fontawesome">
    <link th:insert="fragments/header :: fontawesome2">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div th:insert="fragments/header :: js"></div>
<div class="wrapper">
    <div th:insert="fragments/navbar :: navbar"></div>
    <div th:insert="fragments/sidebar :: sidebar"></div>
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="content-header"> <!--AQUÍ ISAAC METIÓ UN SECTION, EN VEZ DE UN DIV-->
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Gestión de pedidos</h1>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->

            <section class="content">
                <div class="card">
                    <div class="card-header back-green" type="button" data-card-widget="collapse" title="Collapse" aria-expanded="false">
                        <h3 class="card-title font-white">Registrar un pedido</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus font-white"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body collapse">
                        <form>
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label>Fecha</label><span class="text-danger">*</span>
                                    <input type="date" class="form-control"  placeholder="" value="" required="">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label>Código de pedido</label><span class="text-danger">*</span>
                                    <input type="text" class="form-control" placeholder="0045871" value="" required="">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label>Tipo de pedido<span class="text-danger">*</span></label>
                                    <select class="custom-select d-block w-100"  required="">
                                        <option selected>Selecciona un opción</option>
                                        <option value="1">Perecederos</option>
                                        <option value="2">No Perecederos</option>
                                    </select>
                                </div><br>

                                <div class="row">
                                    <div style="margin-left:20px;">
                                        <h5>Productos</h5>
                                    </div>
                                    <br>
                                    <div class="col-md-3 margin-order">
                                        <label for="" class="font-weight-normal">Producto<span class="text-danger">*</span></label>
                                        <select  class="custom-select d-block w-100" id="" required="">
                                            <option selected>Selecciona un opción</option>
                                            <option value="1">producto1</option>
                                            <option value="2">producto2</option>
                                            <option value="2">producto2</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2 margin-order">
                                        <label for="" class="font-weight-normal">Cantidad<span class="text-danger">*</span></label>
                                        <input type="number" class="form-control" id="cantidad" placeholder="eje: 2">
                                    </div>
                                    <div class="col-md-3 margin-order">
                                        <button type="button" class="btn btn-primary btn-add"><i class="nav-icon fas fa-cart-plus"></i></button>
                                    </div>
                                    <br>
                                    <div class="container-fluid d-flex justify-conmtent-center margin-table-order">
                                        <table class="table table-responsive projects">
                                            <thead>
                                            <tr class="text-center">
                                                <th style="width: 1%">#</th>
                                                <th style="width: 20%">Producto</th>
                                                <th style="width: 20%">Descripción</th>
                                                <th style="width: 20%">Cantidad</th>
                                                <th style="width: 20%">Unidad de medida</th>
                                                <th style="width: 20%">Precio unitario</th>
                                                <th style="width: 8%" class="text-center">Quitar</th>
                                            </tr>
                                            </thead>
                                            <tbody class="text-center">
                                            <tr>
                                                <td>1</td>
                                                <td>
                                                    <a> Hojas blancas </a>
                                                    <br/>
                                                </td>
                                                <td>
                                                    <a>hojas blancas al 90%</a>
                                                </td>
                                                <td>
                                                    <a>3</a>
                                                </td>
                                                <td>
                                                    <a>cajas</a>
                                                </td>
                                                <td>
                                                    <a>$200.00</a>
                                                </td>
                                                <td>
                                                    <button  class="btn btn-danger" data-toggle="modal" data-target="#deleteProductOrder">
                                                        <i class="nav-icon fas fa-trash"></i>
                                                    </button>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>
                                                    <a>lapices</a>
                                                    <br />
                                                </td>
                                                <td>
                                                    <a>paquetes de lapices</a>
                                                </td>
                                                <td>
                                                    <a>50</a>
                                                </td>
                                                <td>
                                                    <a>cajas</a>
                                                </td>
                                                <td>
                                                    <a>$85.00</a>
                                                </td>
                                                <td>
                                                    <button class="btn btn-danger" data-toggle="modal" data-target="#deleteProductOrder">
                                                        <i class="nav-icon fas fa-trash"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>
                                                    <a> Gomas </a>
                                                    <br />
                                                </td>
                                                <td>
                                                    <a>gomas de migajón</a>
                                                </td>
                                                <td>
                                                    <a>10</a>
                                                </td>
                                                <td>
                                                    <a>cajas</a>
                                                </td>
                                                <td>
                                                    <a>$135.00</a>
                                                </td>
                                                <td>
                                                    <button class="btn btn-danger" data-toggle="modal" data-target="#deleteProductOrder">
                                                        <i class="nav-icon fas fa-trash"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="div-Total">
                                        <h4><span class="span-total " >Total: $1,300</span></h4>
                                    </div>
                                    <hr class="mb-4">
                                    <button type="button" class="btn btn-primary btn-block btn-lg" data-toggle="modal"
                                            data-target="#createOrder">
                                        Registrar pedido
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header back-green" >
                        <h3 class="card-title font-white">Listado de Pedidos</h3>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row mb-3 mt-2">
                        <div class="col-md-4 ml-auto">
                            <input class="form-control" type="search" placeholder="Ingresa una búsqueda" aria-label="Search">
                        </div>
                        <div class="container-fluid">
                            <table class="table table-responsive projects margin-table-order">
                                <thead>
                                <tr class="text-center">
                                    <th style="width: 1%">#</th>
                                    <th style="width: 20%">Fecha</th>
                                    <th style="width: 20%">Código</th>
                                    <th style="width: 20%">Tipo</th>
                                    <th style="width: 8%" class="text-center">Detalles</th>
                                    <th style="width: 8%" class="text-center">Modificar</th>
                                </tr>
                                </thead>
                                <tbody class="text-center">
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <a> 17/02/2022 </a>
                                        <br />
                                    </td>
                                    <td>
                                        <a>0000000</a>
                                    </td>
                                    <td>
                                        <a>Perecederos</a>
                                    </td>
                                    <td>
                                        <button  class="btn btn-primary" data-toggle="modal" data-target="#detailsOrder1">
                                            <i class="nav-icon fas fa-info info-button"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn btn-warning" data-toggle="modal" data-target="#updateOrder">
                                            <i class="nav-icon fas fa-edit"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>
                                        <a>20/02/2022</a>
                                        <br />
                                    </td>
                                    <td>
                                        <a>0000000</a>
                                    </td>
                                    <td>
                                        <a>No Perecederos</a>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary" data-toggle="modal" data-target="#detailsOrder1">
                                            <i class="nav-icon fas fa-info info-button"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <btn class="btn btn-warning" data-toggle="modal" data-target="#updateClient">
                                            <i class="nav-icon fas fa-edit"></i>
                                        </btn>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>
                                        <a> 31/03/2022 </a>
                                        <br />
                                    </td>
                                    <td>
                                        <a>0000000</a>
                                    </td>
                                    <td>
                                        <a>Perecederos</a>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary" data-toggle="modal" data-target="#detailsOrder1">
                                            <i class="nav-icon fas fa-info info-button"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <btn class="btn btn-warning" data-toggle="modal" data-target="#updateOrder">
                                            <i class="nav-icon fas fa-edit"></i>
                                        </btn>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>
                                        <a> 04/04/2022 </a>
                                        <br />
                                    </td>
                                    <td>
                                        <a>0000000</a>
                                    </td>
                                    <td>
                                        <a>No Perecederos</a>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary" data-toggle="modal" data-target="#detailsOrder1">
                                            <i class="nav-icon fas fa-info info-button"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <btn class="btn btn-warning" data-toggle="modal" data-target="#updateOrder">
                                            <i class="nav-icon fas fa-edit"></i>
                                        </btn>
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>
                                        <a>17/05/2022 </a>
                                        <br />
                                    </td>
                                    <td>
                                        <a>0000000</a>
                                    </td>
                                    <td>
                                        <a>Perecederos</a>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary" data-toggle="modal" data-target="#detailsOrder1">
                                            <i class="nav-icon fas fa-info info-button"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <btn class="btn btn-warning" data-toggle="modal" data-target="#updateOrder">
                                            <i class="nav-icon fas fa-edit"></i>
                                        </btn>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div th:replace="order/createOrder"></div>
    <div th:replace="order/showOrder"></div>
    <div th:replace="order/deleteProductOrder"></div>
    <div th:replace="order/updateOrder"></div>
</div>
</body>
</html>