<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pedidos</title>
    <link th:insert="fragments/header :: css">
    <link th:insert="fragments/header :: cssAdmin">
    <link th:insert="fragments/header :: fontawesome">
    <link th:insert="fragments/header :: fontawesome2">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div th:insert="fragments/header :: js"></div>
<div class="wrapper">
    <div th:insert="fragments/navbar :: navbar"></div>
    <div th:insert="fragments/sidebar :: sidebar"></div>
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="content-header">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Gestión de pedidos</h1>
                    </div>
                </div>
            </div>

            <section class="content">
                <div class="card">
                    <div class="card-header back-green" >
                        <h3 class="card-title font-white">Pedidos</h3>
                    </div>
                    <div class="card-body">
                        <div class="row mb-3 mt-2 form-inline">
                            <p class="mr-2">Mostrar</p>
                            <form th:action="@{/order/list}" id="searchForm">
                                <select th:value="${pageSize}" name="size" class="custom-select"
                                        onchange="changePageSize()">

                                    <option th:each="s : ${ {5, 10, 20, 50, 100} }" th:value="${s}" th:text="${s}"
                                            th:selected="${s == pageSize}"></option>
                                </select>
                            </form>
                            <p class="ml-2">registros</p>
                        </div>
                        <div class="row mb-3 mt-2">
                            <div class="container-fluid">
                                <table class="table table-responsive projects margin-table-order table-striped projects">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="width: 1%">#</th>
                                        <th style="width: 20%">Fecha</th>
                                        <th style="width: 20%">Código</th>
                                        <th style="width: 20%">Tipo</th>
                                        <th style="width: 20%">Estado</th>
                                        <th style="width: 8%" class="text-center">Productos</th>
                                    </tr>
                                    </thead>
                                    <tbody class="text-center">
                                        <tr th:each="order : ${result.data}" th:if="${result.data != null}">
                                            <td>
                                                [[${order.id}]]
                                            </td>
                                            <td>
                                                [[${order.orderDate}]]
                                            </td>
                                            <td>
                                                [[${order.code}]]
                                            </td>
                                            <td>
                                                [[${order.type}]]
                                            </td>
                                            <td>
                                                <div th:switch="${order.status.id}">
                                                    <div th:case="1">
                                                        <p class="text-success">Pendiente</p>
                                                    </div>
                                                    <div th:case="2">
                                                        <p class="text-warning">Enviado</p>
                                                    </div>
                                                    <div th:case="3">
                                                        <p class="text-warning">Entregado</p>
                                                    </div>
                                                    <div th:case="4">
                                                        <p class="text-danger">Cancelado</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary" th:attr="onclick=|getOrder('${order.id}')|" data-toggle="modal"
                                                        data-target="#detailsOrder">
                                                    <i class="nav-icon fas fa-info info-button"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div th:if="${result.message.name eq 'NO_RECORDS_FOUND'}" class="alert alert-warning alert-dismissible fade show text-center" role="alert">
                                    [[${result.message.message}]]
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <nav class="mt-3" th:if="${result.data != null ? result.data.totalPages > 0 : false}"
                             aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item" th:classappend="${result.data.number == 0 ? 'disabled' : ''}">
                                    <a th:href="@{/order/list(page=${result.data.number - 1}, size=${pageSize})}"
                                       class="page-link">Anterior</a>
                                </li>
                                <li class="page-item" th:classappend="${i eq result.data.number + 1} ? 'active'"
                                    th:each="i : ${#numbers.sequence( 1, (result.data != null ? result.data.totalPages : 0) , 1)}">
                                    <a class="page-link"
                                       th:href="@{/order/list?page={tmpPag} (tmpPag=${i-1}, size=${pageSize}) }"
                                       th:text="${i}"
                                       th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                                </li>
                                <li class="page-item"
                                    th:classappend="${result.data.number == ((result.data != null ? result.data.totalPages : 0) - 1) ? 'disabled' : ''}">
                                    <a th:href="@{/order/list(page=${result.data.number + 1}, size=${pageSize})}"
                                       class="page-link">Siguiente</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div th:replace="requisition/showOrder"></div>
    <script>
        const getOrder = (id) => {
            $.get("/order/" + id, function (data) {
                let content = "";
                orderProducts = data.data.requisitionProductModels;
                orderProducts.forEach((product) => {
                    content += "<tr>";
                    content += "<td>" + product.product.id + "</td>";
                    content += "<td>" + product.product.name + "</td>";
                    content += "<td>" + product.quantity + "</td>";
                    content += "<td>" + product.product.unit + "</td>";
                    content += "<td>" + product.product.unitPrice + "</td>";
                    content += "</tr>";
                });
                document.getElementById("totalAmountM").innerHTML = data.data.totalAmount;
                document.getElementById("totalQuantityM").innerHTML = data.data.totalOfProducts;
                $("#tableOrderProducts").html(content);
            });
        }
    </script>
</div>
</body>
</html>