<!--MODAL UPDATE DE UN PEDIDO-->

<div class="modal fade" id="updateOrder" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Editar de un pedido</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <div class="container-fluid">
                        <form>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="font-weight-normal">Fecha</label>
                                    <input type="date" class="form-control" id="dateOrderInf" placeholder="Ejemplo: 7775698741" />
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="font-weight-normal">Código de pedido</label>
                                    <input type="text" class="form-control" id="codeOrderInf" placeholder="code" />
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="font-weight-normal">Tipo de pedido</label>
                                    <input type="text" class="form-control" id="typeOrderInf" placeholder="perecedero"  />
                                </div>

                                <div class="form-group col-md-12 espacioTextosModal">
                                    <h5 class="font-weight-bold">Productos de pedido</h5>
                                </div>
                                <div class="col-md-4 margin-order">
                                    <label for="" class="font-weight-normal">Producto<span class="text-danger">*</span></label>
                                    <select  class="custom-select d-block w-100" id="" required="">
                                        <option selected>Selecciona un opción</option>
                                        <option value="1">producto1</option>
                                        <option value="2">producto2</option>
                                        <option value="2">producto2</option>
                                    </select>
                                </div>
                                <div class="col-md-3 margin-order">
                                    <label for="" class="font-weight-normal">Cantidad<span class="text-danger">*</span></label>
                                    <input type="number" class="form-control" id="cantidad" placeholder="eje: 2">
                                </div>
                                <div class="col-md-3 margin-order">
                                    <button type="button" class="btn btn-primary btn-add"><i class="nav-icon fas fa-cart-plus"></i></button>
                                </div>
                                <div class="container-fluid">
                                    <table class="table table-responsive projects margin-table-order">
                                        <thead>
                                        <tr class="text-center">
                                            <th style="width: 1%">#</th>
                                            <th style="width: 20%">Producto</th>

                                            <th style="width: 20%">Descripción</th>
                                            <th style="width: 20%">Cantidad</th>
                                            <th style="width: 20%">Unidad de medida</th>
                                            <th style="width: 20%">Precio unitario</th>
                                            <th style="width: 8%" class="text-center">Quitar</th>
                                        </tr>
                                        </thead>
                                        <tbody class="text-center">
                                        <tr>
                                            <td>1</td>
                                            <td>
                                                <a> Hojas blancas </a>
                                                <br/>
                                            </td>
                                            <td>
                                                <a>hojas blancas al 90%</a>
                                            </td>
                                            <td>
                                                <a>3</a>
                                            </td>
                                            <td>
                                                <a>cajas</a>
                                            </td>
                                            <td>
                                                <a>$200.00</a>
                                            </td>
                                            <td>
                                                <button  class="btn btn-danger" data-toggle="modal" data-target="#deleteProductOrder">
                                                    <i class="nav-icon fas fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>
                                                <a>lapices</a>
                                                <br />
                                            </td>
                                            <td>
                                                <a>paquetes de lapices</a>
                                            </td>
                                            <td>
                                                <a>50</a>
                                            </td>
                                            <td>
                                                <a>cajas</a>
                                            </td>
                                            <td>
                                                <a>$85.00</a>
                                            </td>
                                            <td>
                                                <button  class="btn btn-danger" data-toggle="modal" data-target="#deleteProductOrder">
                                                    <i class="nav-icon fas fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>3</td>
                                            <td>
                                                <a> Gomas </a>
                                                <br />
                                            </td>
                                            <td>
                                                <a>gomas de migajón</a>
                                            </td>
                                            <td>
                                                <a>10</a>
                                            </td>
                                            <td>
                                                <a>cajas</a>
                                            </td>
                                            <td>
                                                <a>$135.00</a>
                                            </td>
                                            <td>
                                                <button  class="btn btn-danger" data-toggle="modal" data-target="#deleteProductOrder">
                                                    <i class="nav-icon fas fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="div-Total">
                                        <h4><span class="span-total">Total: $1,300</span></h4>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Actualizar</button>
            </div>
        </div>
    </div>

</div>
