<div class="modal fade" id="detailsUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalles usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row mt-2 mb-3">
                        <div class="col-md-6 mb-3">
                            <label class="font-weight-normal">Nombre<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder=" Patricio" disabled>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="font-weight-normal">Apellido Paterno<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Robles" disabled>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="font-weight-normal">Apellido Materno<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Rodriguez" disabled>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="font-weight-normal">Correo Electrónico<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="patricio_robles@gmail.com" disabled>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="font-weight-normal">Teléfono<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="7771103964" disabled>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="font-weight-normal">RFC<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="IPR10023" disabled>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="font-weight-normal">Roles<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Almacenista" disabled>
                        </div>
                    </div>
                    <div style="float: right">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary">Modificar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>