<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link th:fragment="css" rel="stylesheet" th:href="@{/css/style404.css}">
</head>
<body>
<div class='hover'>
    <div class="text" style="font-size=15">
        <h2>Error 404. Page not found </h2>
    </div>
    <div class='background'>
        <div class='door'>404</div>
        <div class='rug'></div>
    </div>
    <div class='foreground'>
        <div class='bouncer'>
            <div class='head'>
                <div class='neck'></div>
                <div class='eye left'></div>
                <div class='eye right'></div>
                <div class='ear'></div>
            </div>
            <div class='body'></div>
            <div class='arm'></div>
        </div>
        <div class='poles'>
            <div class='pole left'></div>
            <div class='pole right'></div>
            <div class='rope'></div>
        </div>
    </div>
</div>

</body>
</html>