<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Área</title>
    <link th:insert="fragments/header :: css">
    <link th:insert="fragments/header :: cssAdmin">
    <link th:insert="fragments/header :: fontawesome">
    <link th:insert="fragments/header :: fontawesome2">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div th:insert="fragments/header :: js"></div>
<div class="wrapper">
    <div th:insert="fragments/navbar :: navbar"></div>
    <div th:insert="fragments/sidebar :: sidebar"></div>
    <div class="content-wrapper">
        <div class="container-fluid">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Gestión de Áreas</h1>
                        </div>
                    </div>
                </div>
                <div th:if="${resultAction != null ? (resultAction.message.name eq 'SUCCESS_REGISTER') || (resultAction.message.name eq 'SUCCESS_UPDATE') || (resultAction.message.name eq 'SUCCESS_DISABLE') || (resultAction.message.name eq 'SUCCESS_ENABLE'): false}" class="alert alert-success alert-dismissible fade show" role="alert">
                    [[${resultAction.message.message}]]
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </section>

            <section class="content">
                <div class="card">
                    <div class="card-header back-green" type="button" data-card-widget="collapse" title="Collapse"
                         aria-expanded="false">
                        <h3 class="card-title font-white">Registrar área</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-plus font-white"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body"
                         th:class="${(result.isError && action eq 'save') ? 'card-body': 'card-body collapse'}">
                        <form th:action="@{/area/save}" method="post" th:object="${area}">
                            <div class="row mt-2 mb-3">
                                <div class="col-md-3 mb-3">
                                    <label>Identificador<span
                                            class="text-danger">*</span></label>
                                    <input th:value="${data != null && action eq 'save' ? data.identifier : ''}" type="text"
                                           name="identifier" class="form-control" placeholder="Ingrese un identificador"
                                           >
                                    <div th:if="${#fields.hasErrors('identifier') && action eq 'save'}" th:errors="*{identifier}"
                                         class="alert alert-danger"></div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label>Dirección<span
                                            class="text-danger">*</span></label>
                                    <input th:value="${data != null && action eq 'save' ? data.address : ''}" type="text" name="address"
                                           class="form-control" placeholder="Ingrese una dirección" >
                                    <div th:if="${#fields.hasErrors('address') && action eq 'save'}" th:errors="*{address}"
                                         class="alert alert-danger"></div>

                                </div>
                            </div>
                            <div class="row mt-2 mb-3" style="justify-content: center">
                                <button
                                        type="submit"
                                        class="btn btn-primary btn-block btn-lg"
                                >Registrar</button>
                            </div>

                        </form>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header back-green">
                        <h3 class="card-title font-white">Áreas</h3>
                    </div>
                    <div class="card-body">
                        <div class="row mb-3 mt-2 form-inline">
                            <p class="mr-2">Mostrar</p>
                            <form th:action="@{/area/list}" id="searchForm">
                                <select th:value="${pageSize}" name="size" class="custom-select"
                                        onchange="changePageSize()">

                                    <option th:each="s : ${ {5, 10, 20, 50, 100} }" th:value="${s}" th:text="${s}"
                                            th:selected="${s == pageSize}"></option>
                                </select>
                            </form>
                            <p class="ml-2">registros</p>
                        </div>
                        <div class="row mb-3 mt-2">
                            <div class="container-fluid">
                                <table class="table table-responsive projects margin-table-order table-striped projects">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="width: 5%">
                                            #
                                        </th>
                                        <th style="width: 30%">
                                            Identificador
                                        </th>
                                        <th style="width: 30%">
                                            Dirección
                                        </th>
                                        <th style="width: 8%">
                                            Estado
                                        </th>

                                        <th style="width: 12%">
                                            Acciones
                                        </th>
                                    </tr>
                                    </thead>
                                    <div th:if="${result.message.name eq 'NO_RECORDS_FOUND'}" class="alert alert-warning alert-dismissible fade show" role="alert">
                                        [[${result.message.message}]]
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <tbody class="text-center">
                                    <tr th:each="area : ${result.data}" th:if="${result.data != null}">
                                        <td>
                                            [[${area.id}]]
                                        </td>
                                        <td>
                                            [[${area.identifier}]]
                                        </td>
                                        <td>
                                            [[${area.address}]]
                                        </td>
                                        <td>
                                            <p th:class="${area.status == 1 ? 'text-success' : 'text-danger'}">[[${area.status == 1 ? 'Activo' : 'Inactivo'}]]</p>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-6 col-md-12">
                                                    <button th:attr="onclick=|getArea('${area.id}')|" id="updateBtnArea"
                                                            type="button" class="btn btn-warning" data-toggle="modal"
                                                            data-target="#updateArea">
                                                        <i class="nav-icon fas fa-edit"></i>
                                                    </button>
                                                </div>
                                                <div class="col-lg-6 col-md-12">
                                                    <form th:if="${area.status == 1}" th:action="@{/area/disable}"
                                                          method="post">
                                                        <input th:value="${area.id}" name="id" type="hidden">
                                                        <button type="button" class="btn btn-danger deleteBtnArea"
                                                                data-toggle="modal" data-target="#deleteArea">
                                                            <i class="nav-icon fa-solid fa-eye-slash"></i>
                                                        </button>
                                                    </form>
                                                    <form th:if="${area.status == 0}" th:action="@{/area/disable}"
                                                          method="post">
                                                        <input th:value="${area.id}" name="id" type="hidden">
                                                        <button type="button" class="btn btn-success deleteBtnArea"
                                                                data-toggle="modal" data-target="#deleteArea">
                                                            <i class="nav-icon fa-solid fa-eye"></i>
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <nav class="mt-3" th:if="${result.data != null ? result.data.totalPages > 0 : false}"
                             aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item" th:classappend="${result.data.number == 0 ? 'disabled' : ''}">
                                    <a th:href="@{/area/list(page=${result.data.number - 1}, size=${pageSize})}"
                                       class="page-link">Anterior</a>
                                </li>
                                <li class="page-item" th:classappend="${i eq result.data.number + 1} ? 'active'"
                                    th:each="i : ${#numbers.sequence( 1, (result.data != null ? result.data.totalPages : 0) , 1)}">
                                    <a class="page-link"
                                       th:href="@{/area/list?page={tmpPag} (tmpPag=${i-1}, size=${pageSize}) }"
                                       th:text="${i}"
                                       th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                                </li>
                                <li class="page-item"
                                    th:classappend="${result.data.number == ((result.data != null ? result.data.totalPages : 0) - 1) ? 'disabled' : ''}">
                                    <a th:href="@{/area/list(page=${result.data.number + 1}, size=${pageSize})}"
                                       class="page-link">Siguiente</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </section>

        </div>
    </div>
    <div th:replace="area/updateArea"></div>
</div>
<script th:if="${result.isError && action eq 'update'}">

    $('#updateArea').modal('show');

</script>
<script>

    $('.deleteBtnArea').on('click', function () {
        Swal.fire({
            title: '¿Está seguro de cambiar el estado de esta área?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sí',
            cancelButtonText: 'Cancelar',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                $(this).closest('form').submit();

            }
        });
    });

    const getArea = (id) => {
        $.get("/area/" + id, function (data) {
            $("#updateArea").find("#identifier").val(data.data.identifier);
            $("#updateArea").find("#address").val(data.data.address);
            $("#updateArea").find("#status").val(data.data.status);
            $("#updateArea").find("#id").val(data.data.id);

            $("#identifierdiv").css("display", "none");
            $("#addressdiv").css("display", "none");
        });
    }

    $('.updateBtnArea').on('click', function () {
        Swal.fire({
            title: '¿Está seguro de modificar los datos?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sí',
            cancelButtonText: 'Cancelar',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                $(this).closest('form').submit();

            }
        });
    });

    const changePageSize = () => {
        $("#searchForm").submit();
    }
</script>
</body>
</html>