<div class="modal fade" id="updateArea" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modificar área</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/area/update}" th:object="${area}" method="post">
                    <div class="row mt-2 mb-3">
                        <input type="hidden" name="id" id="id" th:value="${data != null ? data.id : ''}">

                        <div class="col-md-12 mb-3">
                            <label class="font-weight-normal">Identificador<span class="text-danger">*</span></label>
                            <input name="identifier"  id="identifier" th:value="${data != null ? data.identifier : ''}" type="text" min="3" max="10" class="form-control" placeholder="Ingrese un identificador" required>
                            <div th:if="${#fields.hasErrors('identifier') && action eq 'update'}" th:errors="*{identifier}" class="alert alert-danger"></div>

                        </div>
                        <div class="col-md-12 mb-3">
                            <label class="font-weight-normal">Dirección<span class="text-danger">*</span></label>
                            <input name="address" id="address"  th:value="${data != null ? data.address : ''}" type="text" class="form-control" placeholder="Ingrese una dirección">
                            <div th:if="${#fields.hasErrors('address') && action eq 'update'}" th:errors="*{address}" class="alert alert-danger"></div>

                        </div>

                        <input name="id" type="hidden" class="form-control">
                    </div>
                    <div style="float: right">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary updateBtnArea">Modificar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>