/* Estilos generales */

.font-white{
    color: white;
    font-weight: bold;
}

.back-green{
    background-color: #049474 !important;
}

.btn-add{
    margin-top: 30px;
}
.span-total{
    background-color: orange;
    border-radius: 6px;
    float:right;
    margin-left:20px;
}
.div-Total{
    float: right;
}
.espacioTextosModal{
    margin-top: 15px;
}
.icon-collapse{
    float:right;
}
.info-button{
    width: 17px;
}
.margin-order{
   margin-top:25px;
   float: left;
   margin-left:20px;
}
.margin-table-order{
    margin-top:30px;
}

.button-area {
    border-radius: 20px;
    border: 1px solid rgb(63,81,181,0.7);
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}