<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/stylesLogin.css}">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
</head>
<body id="bodyL">
<h1>WAREHOUSE</h1>
<div class="container" id="containerLogin">
    <div class="form-container sign-up-container">
        <form action="#">
            <h1>Crea una cuenta</h1>
            <input type="text" placeholder="Nombre" />
            <input type="text" placeholder="Usuario" />
            <input type="number" placeholder="Teléfono" />
            <input type="text" placeholder="RFC" />
            <input type="password" placeholder="Contraseña" />
            <button>Registrate</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form th:action="@{/login}" method="post" class="signin-form">
            <h1>Iniciar Sesión</h1>
            <input type="text" name="username" placeholder="Usuario" />
            <input type="password" name="password" placeholder="Contraseña" />
            <div th:if="${param.error}">
                Invalid username and password.
            </div>
            <button>Acceder</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>¡Bienvenido!</h1>
                <p>Después de registrarte accede a la sesión</p>
                <button class="ghost" id="signIn">Inicia Sesión</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Bienvenido al Sistema de Almacén</h1>


            </div>
        </div>
    </div>
</div>
</body>
</html>