<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Entradas</title>
    <link th:insert="fragments/header :: css">
    <link th:insert="fragments/header :: cssAdmin">
    <link th:insert="fragments/header :: fontawesome">
    <link th:insert="fragments/header :: fontawesome2">
</head>
<body class="hold-transition sidebar-mini layout-fixed" onload="getProducts()">
<div th:insert="fragments/header :: js"></div>
<div class="wrapper">
    <div th:insert="fragments/navbar :: navbar"></div>
    <div th:insert="fragments/sidebar :: sidebar"></div>
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Gestión de Entradas</h1>
                        </div>
                    </div>
                </div>
            </div>
            <section class="content">
                <div class="card">
                    <div class="card-header back-green" type="button" data-card-widget="collapse" title="Collapse" aria-expanded="false">
                        <h3 class="card-title font-white">Registrar entrada</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-plus font-white"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body" th:class="${(result.isError && action eq 'save') ? 'card-body': 'card-body collapse'}">
                        <form th:action="@{/entry/save}" method="post" th:object="${entry}">
                            <div id="pedido">
                                <h5>Datos de pedido</h5>
                                <hr>
                                <div class="row">
                                    <div class="col-md-4 mb-3">
                                        <label>Código de pedido</label><span class="text-danger">*</span>
                                        <input type="text" class="form-control" placeholder="0045871" value="" required="">
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label>Fecha</label><span class="text-danger">*</span>
                                        <input type="date" class="form-control" placeholder="" value="" required="">
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label>Tipo de pedido<span class="text-danger">*</span></label>
                                        <select class="custom-select d-block w-100" th:field="*{requisition.type}" id="typeOrder" name="typeOrder" onchange="getProducts()">
                                            <option type="submit" th:value="1" selected>Perecederos</option>
                                            <option type="submit" th:value="2">No Perecederos</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label>Proveedor<span class="text-danger">*</span></label>
                                        <select class="custom-select d-block w-100" name="supplier" th:field="*{supplier.id}">
                                            <option th:each="tmpSupplier : ${listSupplies}" th:value="${tmpSupplier.id}" th:text="${tmpSupplier.name}" />
                                        </select>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label>Almacén al que se dirige</label><span class="text-danger">*</span>
                                        <select class="custom-select d-block w-100" th:field="*{requisition.warehouse.id}">
                                            <option th:each="tmpWarehouse : ${listWarehouses}" th:value="${tmpWarehouse.id}" th:text="${tmpWarehouse.name}" />
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div id="entrada">
                                <h5>Datos de la entrada</h5>
                                <hr>
                                <div class="row mt-2">
                                    <div style="margin-left:20px;">
                                        <h5>Productos</h5>
                                    </div>
                                    <br>
                                    <div class="col-md-3 margin-order">
                                        <label class="font-weight-normal">Producto<span class="text-danger">*</span></label>
                                        <form th:action="@{/product/newProd}" method="post" id="productForm">
                                            <input type="hidden" name="requisition.products" id="requisition.products">
                                            <select class="custom-select d-block w-100" name="product" id="product">

                                            </select>
                                        </form>
                                    </div>
                                    <div class="col-md-2 margin-order">
                                        <label class="font-weight-normal">Cantidad<span class="text-danger">*</span></label>
                                        <input type="number" class="form-control" id="quantity" placeholder="Ej: 2">
                                    </div>
                                    <div class="col-md-3 margin-order">
                                        <button type="button" class="btn btn-primary btn-add" onclick="addProduct()">Agregar producto <i class="nav-icon fas fa-cart-plus"></i></button>
                                    </div>
                                    <br><hr>
                                    <div class="container-fluid d-flex justify-content-center margin-table-order">
                                        <table class="table table-responsive projects">
                                            <thead>
                                            <tr class="text-center">
                                                <th style="width: 1%">#</th>
                                                <th style="width: 20%">Producto</th>
                                                <th style="width: 20%">Descripción</th>
                                                <th style="width: 20%">Cantidad</th>
                                                <th style="width: 20%">Unidad de medida</th>
                                                <th style="width: 20%">Precio unitario</th>
                                                <th style="width: 8%" class="text-center">Quitar</th>
                                            </tr>
                                            </thead>
                                            <tbody class="text-center" id="tableProducts">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div style="float: right !important;" class="mb-3">
                                <h5><span class="span-total" >Cantidad de productos que ingresan:</span><span id="totalQuantity"></span></h5>
                                <h5><span class="span-total" >Total de ingreso:</span><span id="totalEntry"></span></h5>
                            </div>
                            <button type="button" class="btn btn-primary btn-block btn-lg mt-3" data-toggle="modal"
                                    data-target="#createEntry">
                                Registrar entrada
                            </button>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header back-green" >
                        <h3 class="card-title font-white">Entradas</h3>
                    </div>
                    <div class="card-body">
                        <div class="row mb-3 mt-2 form-inline">
                            <p class="mr-2">Mostrar</p>
                            <form th:action="@{/area/list}" id="searchForm">
                                <select th:value="${pageSize}" name="size" class="custom-select"
                                        onchange="changePageSize()">

                                    <option th:each="s : ${ {5, 10, 20, 50, 100} }" th:value="${s}" th:text="${s}"
                                            th:selected="${s == pageSize}"></option>
                                </select>
                            </form>
                            <p class="ml-2">registros</p>
                        </div>
                        <div class="row mb-3 mt-2">
                            <div class="container-fluid">
                                <table class="table table-responsive projects margin-table-order table-striped projects">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="width: 5%">#</th>
                                        <th style="width: 20%">Fecha ingreso</th>
                                        <th style="width: 20%">Pedido asociado</th>
                                        <th style="width: 12%" class="text-center">Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody class="text-center">
                                    <tr>
                                        <div th:if="${result.message.name eq 'NO_RECORDS_FOUND'}" class="alert alert-warning alert-dismissible fade show" role="alert">
                                            [[${result.message.message}]]
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </tr>
                                    <tr th:each="entry : ${result.data}" th:if="${result.data != null}">
                                        <td>
                                            [[${entry.id}]]
                                        </td>
                                        <td>
                                            [[${entry.supplier.businessName}]]
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-6 col-md-12">
                                                    <button  class="btn btn-primary" data-toggle="modal" data-target="#detailsEntry">
                                                        <i class="nav-icon fas fa-info info-button"></i>
                                                    </button>
                                                </div>
                                                <div class="col-lg-6 col-md-12">
                                                    <button class="btn btn-warning" data-toggle="modal" data-target="#updateEntry">
                                                        <i class="nav-icon fas fa-edit"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div th:replace="entry/createEntry"></div>
    <div th:replace="entry/showEntry"></div>
    <div th:replace="entry/updateEntry"></div>

    <script>
        let products = [];
        let productsList = [];

        const getProducts = () => {
            let type = document.getElementById("typeOrder").value;
            $.get("/entry/product/" + type, function (data) {
                let content = "";
                productsList = data;
                data.forEach((product) => {
                    content += "<option value='" + product.id + "'>" + product.name + "</option>";
                });
                $("#product").html(content);
            });
        }

        const addProduct = () => {
            let current = document.getElementById('product').value;
            console.log(current);
            products = document.getElementById('requisition.products').value;
            if(products === '') products = [];
            else products = JSON.parse(products);

            if(products.find((product) => product.id == current)) return;
            if(productsList.find((product) => product.id == current)){
                let product = productsList.find((product) => product.id == current);
                let quantity = document.getElementById("quantity").value;
                current = {
                    id: product.id,
                    name: product.name,
                    description: product.description,
                    unitPrice: product.unitPrice,
                    quantity: parseInt(quantity),
                    unit: product.unit
                }
                console.log(current);
                products.push(current);
                productsSelected();
            }
            document.getElementById('requisition.products').value = JSON.stringify(products);
            console.log(products);
        }

        const removeProduct = (id) => {
            products = products.filter((product) => product.id != id);
            productsSelected();
            document.getElementById('requisition.products').value = JSON.stringify(products);
        }

        const productsSelected = () => {
            let content = "";
            products.forEach((product) => {
                content += "<tr>";
                content += "<td>" + product.id + "</td>";
                content += "<td>" + product.name + "</td>";
                content += "<td>" + product.description + "</td>";
                content += "<td>" + product.quantity + "</td>";
                content += "<td>" + product.unit + "</td>";
                content += "<td>" + product.unitPrice + "</td>";
                content += "<td><button class='btn btn-danger' onclick='removeProduct(" + product.id + ")'><i class='fas fa-trash'></i></button></td>";
                content += "</tr>";
            });
            $("#tableProducts").html(content);
        }

        const totalEntry = () => {
            let total = 0;
            products.forEach((product) => {
                total += product.quantity * product.unitPrice;
            });
            document.getElementById("totalEntry").value = total;
        }

        const totalQuantity = () => {
            let total = 0;
            products.forEach((product) => {
                total += product.quantity * product.unitPrice;
            });
            document.getElementById("totalQuantity").value = total;
        }


    </script>
</div>
</body>
</html>
